<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
  style="width: 250px; height: 100vh; position: fixed"
>
  <a
    href="#"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">🛠️ Admin Panel</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a
        href="/pages/admin/dashboard/admin-dashboard.html"
        class="nav-link text-white"
        >📊 Dashboard</a
      >
    </li>
    <li>
      <a
        href="/pages/admin/product/admin-product.html"
        class="nav-link text-white"
        >📦 Quản lý sản phẩm</a
      >
    </li>
    <li>
      <a
        href="/pages/admin/category/admin-category.html"
        class="nav-link text-white"
        >🗂️ Quản lý danh mục</a
      >
    </li>
    <li>
      <a href="/pages/admin/order/admin-order.html" class="nav-link text-white"
        >🛒 Quản lý đơn hàng</a
      >
    </li>
    <li>
      <a
        href="/pages/admin/review/admin-review.html"
        class="nav-link text-white"
        >⭐ Quản lý đánh giá</a
      >
    </li>
    <li>
      <a
        href="/pages/admin/staff/admin-customer.html"
        class="nav-link text-white"
        >👥 Quản lý người dùng</a
      >
    </li>
    <li>
      <a href="/pages/admin/admin-chat.html" class="nav-link text-white"
        >💬 Phản hồi</a
      >
    </li>
  </ul>
  <hr />
  <div>
    <a href="/pages/index.html" class="btn btn-danger w-100" onclick="logout()"
      >Đăng xuất</a
    >
  </div>
</div>
